* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(35, 35, 35);
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;

}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgb(15, 15, 15)

}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    font-size: 1.5rem;
    font-family: Tahoma;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: rgb(23, 189, 255);
}

.underscore::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(23, 189, 255);
    transition: width 0.3s;

}

.underscore:hover::after {
    width: 100%;
    transition: width 0.3s;

}

section {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    width: 100%;

}

section h1 {
    font-size: 4rem;

}

section p {
    font-size: 1.5rem;
    

}

section#home {
    background: white;
    color:rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}

section#home img {
    height: 9rem;
	width: 9rem;
	border-radius: 50%;

}


section#about {
    background: rgb(23, 189, 255);

}

section#projects {
    
}

section#contact {
    background: rgb(23, 189, 255);
    
}

footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    background: rgb(15, 15, 15);
    height: 50px;
    font-family: Tahoma;
    font-size: 1rem;
   

}

@media (max-width: 600px){
    .navbar ul li {
        margin: 0 0.7rem;
        padding-left: 0.7rem;
    }

    .navbar ul li a {
        font-size: 1.2rem;  
    }  

}

@media (max-width: 480px){
    .navbar ul li {
        margin: 0 0.5rem;
        padding-left: 0.5rem; 
        padding-right: 0.7rem;   
    }

    .navbar ul li a {
        font-size: 1rem;  
    }  
}

@media (max-width: 360px){
    .navbar {
        height: 55px;
    }

    .navbar ul li {
        margin: 0 0.3rem;
        padding-right: 0.5rem;   
    }

}