* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(35, 35, 35);
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;

}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgb(15, 15, 15);
    border-bottom: 0.2rem solid rgb(23, 189, 255);

}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    font-size: 1.5rem;
    font-family: Tahoma;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: rgb(23, 189, 255);
}

.underscore::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(23, 189, 255);
    transition: width 0.3s;

}

.underscore:hover::after {
    width: 100%;
    transition: width 0.3s;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    width: 100%;

}

section h1 {
    font-size: 2.5rem;

}

section h3 {
    font-size: 1rem;
    margin: 0.5rem;

}

section p {
    font-size: 1.5rem;  

}

section#home {
    background: white;
    color: rgb(15, 15, 15);
    

}

section#home img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    border: 2px solid rgb(15, 15, 15);
    margin: 2rem;
    margin-top: 5rem;

}

.media{
    border: 2px solid rgb(255, 255, 255);
    margin: 7rem 1rem 1rem 1rem;
    
}

.media li{
    list-style: none;
    margin: 0.5rem 1rem;
    display: inline-flex;
    font-size: 2rem;
    
}

.media ul li a i{
    color:  rgb(15, 15, 15);
    transition: all 0.3s ease 0s;
}

.media ul li a i:hover {
    color: rgb(23, 189, 255);
}

.arrow {
    color:  rgb(15, 15, 15);
    transition: all 0.3s ease 0s;
    font-size: 2rem;
    margin-top: 4.5rem;

}

.arrow:hover {
    color: rgb(23, 189, 255);
}





section#about {
    background: rgb(23, 189, 255);

}

section#projects {
    
}

section#contact {
    background: rgb(23, 189, 255);
    
}

footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    background: rgb(15, 15, 15);
    height: 50px;
    font-family: Tahoma;
    font-size: 1rem;

}

@media (max-width: 600px){
    .navbar ul li {
        margin: 0 0.7rem;
        padding-left: 0.7rem;
    }

    .navbar ul li a {
        font-size: 1.2rem;  
    }
    
    section h1 {
        font-size: 2.4rem;
    
    }
    
    section h3 {
        font-size: 0.9rem;
        margin: 0.5rem;
    
    }

    section#home img {
        height: 8.5rem;
        width: 8.5rem;
    
    }

}

@media (max-width: 480px){
    .navbar ul li {
        margin: 0 0.5rem;
        padding-left: 0.5rem; 
        padding-right: 0.7rem;   
    }

    .navbar ul li a {
        font-size: 1rem;  
    }  

    section h1 {
        font-size: 1.9rem;
    
    }
    
    section h3 {
        font-size: 0.8rem;
        margin: 0.5rem;
    
    }
}

@media (max-width: 360px){
    .navbar {
        height: 55px;
    }

    .navbar ul li {
        margin: 0 0.3rem;
        padding-right: 0.5rem;   
    }

    section h1 {
        font-size: 1.5rem;
    
    }
    
    section h3 {
        font-size: 0.8rem;
        margin: 0.5rem;
    
    }

}


@media (max-height: 650px){
   
    section#home img {
        margin-top: 7rem;
    
    }

    .arrow {
        margin: 2rem 0rem;
    
    }


    .media{
        margin: 4rem 1rem 1rem 1rem;
        
    }


}

@media (max-height: 550px){
   
    section#home img {
        margin-top: 6rem;
    
    }

    .arrow {
        margin: 1rem 0rem;
    
    }

    .media{
        margin: 1rem;
        
    }


}
