section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background: white;
    color: var(--main-black); 
}

section#home h1 {
    font-size: 2.5rem;
}

section#home h3 {
    font-size: 1rem;
    margin: 0.5rem;
}

section#home img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    border: 2px solid var(--main-black);
    margin: 2rem;
    margin-top: 5rem;
}

.media {
    border: 2px solid rgb(255, 255, 255);
    margin: 7rem 1rem 1rem 1rem; 
}

.media li {
    list-style: none;
    margin: 0.5rem 1rem;
    display: inline-flex;
    font-size: 2rem;
}

.media ul li a i {
    color:  var(--main-black);
    transition: all 0.3s ease 0s;
}

.media ul li a i:hover {
    color: var(--detail-blue);
}

.arrow {
    color:  var(--main-black);
    transition: all 0.3s ease 0s;
    font-size: 2rem;
    margin-top: 4.5rem;
}

.arrow:hover {
    color: var(--detail-blue);
}

svg {
    display: block;
}

@media (max-width: 780px){
    
    section#home h1 {
        font-size: 2.3rem; 
    }

    section#home img {
        margin-top: 8rem;
    }

    .media {
        margin: 5rem 1rem 1rem 1rem;  
    }

    .arrow {
        margin: 4rem 0rem;
    }

}

@media (max-width: 480px){

    section#home  h1 {
        font-size: 1.9rem;
    }
    
    section#home  h3 {
        font-size: 0.8rem;
    }

    section#home img {
        height: 8.5rem;
        width: 8.5rem;
        margin-top: 8rem;
    }

    .arrow {
        margin: 2rem 0rem;
    }

    .media {
        margin: 2rem 1rem 1rem 1rem;
    }
}

@media (max-width: 360px){
    section#home img {
        margin-top: 7rem;
    }

    section#home h1 {
        font-size: 1.5rem;
    }
    
    section#home h3 {
        font-size: 0.8rem;
    }
} 
