:root {
    --detail-blue: rgb(65, 200, 255);
    --main-black: rgb(15, 15, 15);
    --main-dark-gray:  rgb(35, 35, 35);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #fff;
    line-height: 1.4;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100%;
}

.normal-button {
    background: #fff;
    color:var(--main-dark-gray);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    transition: all 0.3s ease 0s;
    margin: 2rem;
}

.normal-button:hover {
    color: var(--detail-blue);
    transform: scale(1.05);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    background: var(--main-black);;
    height: 50px;
    font-size: 1rem;
}
