:root {
    --detail-blue: rgb(65, 200, 255);
    --main-black: rgb(15, 15, 15);
    --main-dark-gray:  rgb(35, 35, 35);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--main-dark-gray);
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;

}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


section {
    height: 100vh;
    width: 100%;

}

section h1 {
    font-size: 2.5rem;

}

section h3 {
    font-size: 1rem;
    margin: 0.5rem;

}

section#contact {
    background: var(--detail-blue);
    
}

footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    background: var(--main-black);;
    height: 50px;
    font-family: Tahoma;
    font-size: 1rem;

}




@media (max-width: 600px){
    section h1 {
        font-size: 2.4rem;
    
    }
    
    section h3 {
        font-size: 0.9rem;
        margin: 0.5rem;
    
    }

}

@media (max-width: 480px){

    section h1 {
        font-size: 1.9rem;
    
    }
    
    section h3 {
        font-size: 0.8rem;
        margin: 0.5rem;
    
    }
}

@media (max-width: 360px){
    section h1 {
        font-size: 1.5rem;
    
    }
    
    section h3 {
        font-size: 0.8rem;
        margin: 0.5rem;
    
    }

}




