section#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background: var(--main-dark-gray);   
}

#slider {
    margin: 1rem;
    width: 98%;
}

#slider input {
    display: none;
}

#slides {
    position: relative;  
}

#overflow {
    overflow: hidden;
}

#slide1:checked ~ #slides .inner {
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
}

#slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

#bullets {
    text-align: center;
}

#bullets label {
    cursor:pointer;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius:100%;
    background: #fff;
    margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
    background: var(--detail-blue);
}

.slide-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0.5rem;  
}

.slide-header {
    text-align: center;
    width: 50%;
    border-radius: 10px;
    padding: 4rem 2rem;
    margin: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide_1 .slide-header{
    background-image: url("../images/alacena.jpg");
}

.slide_2 .slide-header{
    background: rgb(15, 15, 15, 0.2);
} 

.slide_3 .slide-header{
    background: rgb(15, 15, 15, 0.2);
} 

.slide_4 .slide-header{
    width: 75%;
    background-image: url("../images/home-page.jpg");
} 

.content {
    flex-direction: row;
    margin: 1rem; 
}

.button {
    background: #fff;
    color: var(--main-dark-gray);
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15rem;
    padding: 1rem;
    transition: all 0.3s ease 0s;
}

.button:hover {
    color: var(--detail-blue);
    transform: scale(1.05);
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 1.5rem;
    margin: 1rem;
}

p {
    text-align: justify;
    margin: 1rem;
    width: 50%;
    font-size: 1.4rem;
}

span {
    display: inline-block;
    background: var(--detail-blue);
    color: #fff;
    border-radius: 1rem;
    margin:1rem;
    padding: 0.4rem;
}

@media (max-width: 1020px){
    .button {
        font-size: 3rem; 
    }

    p {
        width: 60%;
        font-size: 1.2rem;
    }

    section#projects .normal-button {
        font-size: 1.2rem;
    }
   
} 

@media (max-width: 780px){
    #slider {
        margin: 0.8rem;
    }

    #bullets label {
        width: 1.4rem;
        height: 1.4rem;
    }

    .slide-header {
        width: 60%;
        margin: 0.8rem;  
    }

    .button { 
        font-size: 2.5rem;
    }

    .content {
        margin: 0.8rem;  
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        margin: 1rem;
        width: 70%;
        font-size: 1rem;
    }

    span {
        font-size: 1rem;
        margin:0.6rem;
        padding: 0.3rem;
    }

    section#projects .normal-button {
        font-size: 1rem;
        padding: 0.4rem;
        margin: 1.2rem;
    }      
}

@media (max-width: 480px){
    #slider {
        margin: 0.6rem;
    }

    #bullets label {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 8px;
    }

    .slide-header {
        width: 60%;
        padding: 3.5rem 1rem;
        margin: 0.4rem; 
    }

    .content {
        margin: 0.5rem;
        width: 90%; 
    }

    .button { 
        font-size: 1.5rem;
        padding: 0.8rem;

    }

    h4 {
        font-size: 0.8rem;
    }

    p {
        margin: 0.8rem;
        width: 70%;
        font-size: 0.9rem;
    }

    span {
        font-size: 0.8rem;
        margin:0.3rem;
    }

    .normal-button {
        font-size: 0.9rem;
        padding: 0.3rem;
        margin: 0.8rem;
    }
}


@media (max-width: 360px){
    #slider {
        margin: 0.4rem;
    }

    #bullets label {
        width: 1rem;
        height: 1rem;
    }

    .slide-header {
        padding: 2rem 1rem; 
    }

    .button { 
        font-size: 1rem;
    }

    .content {
        margin: 0.2rem;  
    }

    h4 {
        font-size: 0.7rem;
        margin: 0.8rem;
    }

    p {
        font-size: 0.8rem;
        width: 80%;
    }

    span {
        font-size: 0.7rem;
    }

    .normal-button {
        font-size: 0.7rem;
        margin: 0.6rem;

    }
}
