section#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    
}

#slider {
    margin: 1.5rem;
    width: 95%;
}

#slider input {
    display: none;
}

#slides {
    padding: 1rem;
    position: relative;  
}

#overflow {
    overflow: hidden;
}

#slide1:checked ~ #slides .inner {
    margin-left: 0;
}

#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: 70vh;
}

#slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

#bullets {
    margin: 2rem 0;
    text-align: center;
}

#bullets label {
    cursor:pointer;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius:100%;
    background: #fff;
    margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
    background: var(--detail-blue);
}

.slide-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;  
}


.slide-header {
    text-align: center;
    width: 50%;
    border-radius: 10px;
    padding: 6rem 2rem;
    margin: 1rem;
    background: rgb(15, 15, 15, 0.2);
    background-image: url("../images/alacena.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    flex-direction: row;
    margin: 1rem;
    
}

.button {
    background: #fff;
    color: var(--main-dark-gray);
    text-decoration: none;
    font-size: 4rem;
    font-family: Tahoma;
    border-radius: 15rem;
    margin: 4rem 1rem;
    padding: 1rem;
    transition: all 0.3s ease 0s;
}

.button:hover {
    color: var(--detail-blue);
    transform: scale(1.05);
}

h4 {
    text-decoration: underline;
    font-size: 1.2rem;
    margin: 0.2rem;
}

p {
    margin: 1rem;
    width: 50%;
    font-size: 1.5rem;
}

span {
    background: var(--detail-blue);
    color: #fff;
    border-radius: 1rem;
    margin:1rem;
    padding: 0.4rem;

}

button {
    background: #fff;
    color:var(--main-dark-gray);
    font-size: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
    transition: all 0.3s ease 0s;
    margin: 2rem;

}

button:hover {
    color: var(--detail-blue);
    transform: scale(1.05);
}



@media (max-width: 600px){

    #slides {
        padding: 0.8rem;
    }

    #slider {
        margin: 1rem;
    }

    #bullets {
        margin: 1rem 0;
    }


    #bullets label {
        width: 1.4rem;
        height: 1.4rem;
    }

    .slide-header {
        width: 50%;
        padding: 4rem 1rem;
        margin: 0.5rem;
        
    }

    .button { 
        font-size: 3rem;
        margin: 3rem 1rem;
    }

    .content {
        margin: 0.8rem;
        
    }

    h4 {
        font-size: 1rem;
    }

    p {
        margin: 1rem;
        width: 60%;
        font-size: 1.2rem;
    }

    span {
        margin:0.6rem;
        padding: 0.3rem;

    }

    button {
        font-size: 1.5rem;
        padding: 0.4rem;
        margin: 1.5rem;

    }
        

    
}

@media (max-width: 480px){
    #slides {
        padding: 0.5rem;
    }

    #slider {
        margin: 0.8rem;
    }

    #slides {
        padding: 0.5rem;
    }

    #bullets {
        margin: 0.8rem 0;
    }

    #bullets label {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 8px;
    }

    .slide-header {
        padding: 3rem 1rem;
        margin: 0.4rem;
        
    }

    .content {
        margin: 0.5rem;
        
    }

    .button { 
        font-size: 1.5rem;
        margin: 2rem 1rem;
        padding: 0.8rem;

    }

    h4 {
        font-size: 0.8rem;
    }

    p {
        margin: 0.8rem;
        width: 60%;
        font-size: 0.9rem;
    }

    span {
        word-break: break-all;
        margin:0.3rem;
    }

    button {
        font-size: 1rem;
        padding: 0.3rem;
        margin: 1rem;

    }

}

@media (max-width: 360px){
    #slides {
        padding: 0.2rem;
    }

    #slider {
        margin: 0.4rem;
    }

    #bullets label {
        margin: 0 7px;
    }

    .slide-header {
        padding: 2rem 1rem;
        margin: 0.3rem;
        
    }

    .button { 
        font-size: 1rem;
        margin: 0.8rem;

    }

    .content {
        margin: 0.2rem;
        
    }

    h4 {
        font-size: 0.6rem;
    }

    p {
        margin: 0.5rem;
        width: 70%;
        font-size: 0.7rem;
    }

    span {
        word-break: break-all;
        margin:0.1rem;
    }

    button {
        font-size: 0.8rem;
        margin: 0.6rem;

    }
   
}


@media (max-height: 850px){
    .slide-header {
        width: 50%;
        padding: 4rem 1rem;
        margin: 0.5rem;
        
    }

    .button{
        font-size: 3rem;
        margin: 3.5rem 1rem;
        padding: 1rem;
        
    }

    p {
        font-size: 1rem;
        width: 60%;
    }

    button {
        font-size: 1.5rem;
        margin: 1rem;
    
    }

    #bullets {
        margin: 1.5rem 0;
    }

    #bullets label {
        
        width: 1rem;
        height: 1rem;
        
    }

}

@media (max-height: 700px){
    .slide-header {
        width: 50%;
        padding: 3rem 1rem;
        margin: 0.5rem;
        
    }

    .button{
        font-size: 2rem;
        margin: 3rem 1rem;
        padding: 1rem;
        
    }

    p {
        font-size: 0.9rem;
        width: 60%;
    }

    h4 {
        font-size: 1rem;
        margin: 0.2rem;
    }

    span {
        font-size: 0.8rem;
        border-radius: 1rem;
        margin:0.8rem;
        padding: 0.4rem;
    
    }

    button {
        font-size: 1rem;
        margin: 1rem;
    
    }

    #bullets {
        margin: 1rem 0;
    }


    #bullets label {
        
        width: 0.8rem;
        height: 0.8rem;
        
    }
   

}

@media (max-height: 550px){
    .slide-header {
        width: 50%;
        padding: 2rem 0.6rem;
        margin: 0.4rem;
        
    }

    .button{
        font-size: 1.2rem;
        margin: 2rem 1rem;
        padding: 1rem;
        
    }

    p {
        font-size: 0.7rem;
        width: 60%;
    }

    h4 {
        font-size: 0.9rem;
        margin: 0.2rem;
    }

    span {
        font-size: 0.6rem;
        border-radius: 1rem;
        margin:0.6rem;
        padding: 0.4rem;
    
    }

    button {
        font-size: 1rem;
        margin: 0.8rem;
    
    }

    #bullets {
        margin: 0.8rem 0;
    }

    #bullets label {
        
        width: 0.6rem;
        height: 0.6rem;
        
    }


}

